# Virtual Environment
venv/
/venv/
.venv/

# Python cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/
*.DS_Store

# Secrets file
.env

# alembic backup files
*.bak

scripts/llm_outputs/
scripts/pdfs/
scripts/seed_data/
scripts/images/
scripts/logs/
scripts/failed_outputs/
scripts/run.sh
scripts/jee_advanced_syllabus.json
scripts/generated_tests/

**/.pytest_cache/
